

.Home {
  font-size: 18px;
}

.navigation {
  width: 100%;
  background-color: #FAEBD7;
  text-decoration: none;
  height: 80px;
}

.navcontainer {
  font-family: 'Spectral';
  color: #CB4335;
  font-size: 20px;
  margin: 0px 10px 0 50px;
  padding-top: 8px;
}

.content {
  margin: 0 2%;
  width: 100%;
}

.banner {
  width: 100%;
  height: 300px;
  position: relative;
  background: gray;
  overflow: hidden;
}

.bannerTitle {
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 60px;
  line-height: 1;
  color: #fff;
  text-align: center;
  width: 100%;
}

.leftcontent {
  position: relative;
  display: inline-block;
  width: 48%;
}

.rightcontent {
  vertical-align: top;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  width: 48%;
}
