html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	color: purple;
  left: 0;
  margin: -15px -18px 0 0;
  padding: 0 0;
  font-family: 'Helvetica';
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
