.Navigation {
  width: 100%;
  background-color: #FAEBD7;
  text-decoration: none;
  height: 80px;
}

.Navigation .navcontainer {
  font-family: 'Spectral';
  color: #CB4335;
  font-size: 20px;
  margin: 0px 10px 0 50px;
  padding-top: 8px;
}
