@font-face {
	font-family: 'Spectral';
	font-style: normal;
	font-weight: 400;
	src: local("Spectral"), local("Spectral-Regular"), url(https://fonts.gstatic.com/s/spectral/v1/He_vQncVabw6pF26p40JY3YhjbSpvc47ee6xR_80Hnw.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

.Home {
	font-size: 18px; }

.Home .navigation {
	width: 100%;
	background-color: #FAEBD7;
	text-decoration: none;
	height: 80px; }

.Home .navcontainer {
	font-family: 'Spectral';
	color: #CB4335;
	font-size: 20px;
	margin: 0px 10px 0 50px;
	padding-top: 8px; }

.Home .content {
	margin: 0 2%;
	width: 100%; }

.Home .banner {
	width: 100%;
	height: 300px;
	position: relative;
	background: gray;
	overflow: hidden; }

.Home .bannerTitle {
	font-family: "Open Sans";
	font-weight: 100;
	font-size: 60px;
	line-height: 1;
	color: #fff;
	text-align: center;
	width: 100%; }

.Home .leftcontent {
	position: relative;
	display: inline-block;
	width: 48%; }

.Home .rightcontent {
	vertical-align: top;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	width: 48%; }

.TextInput {
	color: brown;
	margin: 45px 0px 0px 20px; }

.textfield {
	width: 300px;
	height: 20px; }

li {
	margin-bottom: 20px; }

body {
	color: purple;
	left: 0;
	margin: -15px 0 0 0;
	padding: 0 0;
	font-family: 'Helvetica'; }
